$color-primary: #80c0d8;
$color-accent: #72d6a4;
$color-warning: #ffc05c;
$color-error: #f06979;
$color-dark: #4a4a4a;
$color-primary-grey: #8f8f8f;
$color-secondary-grey: #c7c7c7;
$color-card-grey: #d4d4d4;
$color-disabled: #ededed;
$color-background: #eeeeee;
$color-white: #fff;
$color-text-gray: #7d7f7f;